.App {
  text-align: center;
}

body {
  font-family: "Courier New", Courier, monospace;
  max-width: 1000px;
  margin: 0 auto;
  padding: 15px 60px;
  background-image: radial-gradient(73% 147%, #eadfdf 59%, #ece2df 100%),
    radial-gradient(
      91% 146%,
      rgba(255, 255, 255, 0.5) 47%,
      rgba(0, 0, 0, 0.5) 100%
    );
  background-blend-mode: screen;
}

h1 {
  text-align: center;
  color: black;
}

h2 {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  color: #fc7e2f;
  padding: 10px 10px;
  font-size: 25px;
}

a {
  display: block;
  text-decoration: none;
  font-stretch: extra-expanded;
  margin: 50px auto;
}

a:hover {
  cursor: pointer;
}

p {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  margin: 20px 0 10px;
  padding: 10px;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  border-radius: 50%;
}
button {
  display: block;
  margin: 20px auto;
  border: 0.0001px solid #f40552;
  background: #f40552;
  color: #fff;
  font-size: 16px;
  line-height: 22px;
  padding: 12px 20px;
  border-radius: 30px;
  transition: all 200ms ease;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
button:hover {
  opacity: 1;
  cursor: pointer;
  color: #f40552;
  background-color: white;
  border: #f40552;
  border-width: 1px;
}

.nav-bar {
  display: flex;
  align-items: center;
  border: 30px auto;
  margin: 50px auto;
  padding: 12px 20px;
}
