.App {
  text-align: center;
}

h1 {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  color: black;
}
h2 {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  color: #788E3C;
}
a {
  text-decoration: none;
  text-align: center;
  font-stretch: extra-expanded;
  font-size: 30px;
  word-spacing: 50px;
  border: 30px auto;
  margin: 50px auto;
}
p {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}
img {
  text-align: center;
  margin: 20px;
  border-radius: 10px;
}
button {
  display: block;
  margin: 20px auto;
  border: 0.0001px solid #B4C053;
  background: #B4C053;
  color: #fff;
  font-size: 16px;
  line-height: 22px;
  padding: 12px 20px;
  border-radius: 30px;
  transition: all 200ms ease;
  box-shadow: #AEBC51 0px 8px 8px 0;
  cursor: pointer;
}
button:hover {
  opacity: 1;
  cursor: pointer;
  color: #B4C053;
  background-color: white;
  border: #B4C053;
  border-width: 1px;
}

.nav-bar {
  display: flex;
  align-items: center;
  border: 30px auto;
  margin: 50px auto;
  padding: 12px 20px;
}
